extends layout
 
block content
  h1= title
  p.
   Welcome to #{title}!<br>
   Nel bel mezzo del cammin di nostra vita,<br>
   mi ritrovai per una selva oscura<br>
   che la diritta via era smarrita.<br><br> 	
   Ahi quanto a dir qual era è cosa dura<br>
   esta selva selvaggia e aspra e forte<br>
   che nel pensier rinnova la paura!<br>